<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}craftxbox - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="language" content="en">  
    {% if page.keywords %}<meta name="keywords",content="craftxbox, craftxbox.com, craft xbox, {{ page.keywords }}">
    {% else %}<meta name="keywords",content="craftxbox, craftxbox.com, craft xbox">{% endif %}
    {% if page.author %}<meta name="author",content="{{ page.author }}">{% endif %}
    <meta name="copyright" content="© craftxbox 20{{ site.time | date: '%y' }}">
    <meta content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" property="og:title">
    <meta content="{{ site.description }}" property="og:description">
    <meta content="craftxbox" property="og:site_name">
    <meta content='https://crxb.cc/7gn0mr.png' property='og:image'>
    <meta name="theme-color" content="#282C34">
            
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    
</head>
