<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    
    <script type="text/javascript">
  var _bftn_options = {
    theme: 'stop', // @type {string}
    
    org: 'fftf', // @type {string}
    
    delay: 1000, // @type {number}
    
    date: new Date(2017, 7, 12), // @type {Date}
    
    uncloseable: false, // @type {Boolean}

    disableGoogleAnalytics: false, // @type {Boolean}
    
    always_show_widget: false // @type {Boolean}
  };
</script>
<script src="https://widget.battleforthenet.com/widget.js" async></script>
</head>
