---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta"><span class="nobreak">Written {{ page.date | date: "%b %-d, %Y" }}</span>
        {% if page.published %} • <span class="nobreak">Published {{ page.published | date: "%b %-d, %Y" }}</span>{% endif %}
        {% if page.author %} • <span class="nobreak">By {{ page.author }}</span>{% endif %}
        {% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  <hr/>
  <h2>Comments</h2>
  <div class="giscus"></div>
  <script src="https://giscus.app/client.js"
        data-repo="craftxbox/craftxbox.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyODI4NDA0Ng=="
        data-category="Blog Comments"
        data-category-id="DIC_kwDOAa-Ujs4CSLFt"
        data-mapping="og:title"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>

</div>
